body {
    font-family: Georgia;
    text-align: center;
    background-color: lightsteelblue;
}

form {
    padding-top: 20px;
}

footer {
    background-color: orange;
}

img {
    width: 80%;
}

table {
    width: 70%;
    margin: auto;
    border: 1px dotted maroon;
}

table tr:hover {
    background-color: steelblue;
    color: white;
}

#main {
    overflow: scroll;
    padding: 30px;
    height: 400px;
}
