body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E0F7FA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#root {
    width: 95%;
    margin: auto;
}

#header {
    background-color: #00838F;
}

#menu {
    background-color: #006064;
    padding: 15px;
    display: block;
}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

#banner {
    height: 200px;
}

#content > section {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 350px;
}

ul {
    text-align: left;
}

#form > * {
    margin: 0 auto;
}

#footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

input[type="reset"], input[type="submit"] {
    background-color: #00838F;
    color: white;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #80DEEA;
}