body {
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    margin-left: auto;
    margin-right: auto;
    color: navy;
    width: 90%;
}

header, footer {
    position: relative;
    height: 100px;
    background-color: lightblue;
}

header img {
    height: 100%;
    display: inline-block;
}

nav {
    position: absolute;
    right: 0;
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

nav a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    font-weight: bold;
    color: navy;
    font-size: 150%;
}

nav a:hover {
    outline: 1px navy solid;
}

button, input[type="submit"], input[type="reset"] {
    background-color: lightblue;
    color: navy;
}

#banner {
    height: 200px;
    width: 100%;
    background-color: #DDDDDD;
}

.separator {
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 4px;
}