body {
	background: linear-gradient(to right,#eee,#ccc);
	font-family: sans-serif;
}

img {
	width: 40px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	background-color: white;
	box-shadow: 3px 3px 4px 0px #aaa;
}

#mapa {
	width: fit-content;
	margin: 20px auto 0 auto;
	border-spacing: 5px;
}

.info {
	width: fit-content;
	margin: 20px auto 0 auto;
	font-size: 15px;
}