.tab-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tab-container-buttons {
  display: flex;
  justify-items: stretch;
  gap: 5px;
  height: 25px;
}

.tab-container-buttons button {
  flex: 1;
}


.tab-container-buttons button.current {
  background-color: green;
}
